*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#Header{
    //z-index: 99;
    margin-top:2rem;
    ul{
        li{
            margin-right: 35px;
            a{
                text-decoration: none;
                font-size: 14px;
                color: #010103;
                font-weight: bold;
                transition: .4s;
                &:hover{
                    color: #c7a17a;
                }
            }
        }
    }

    .button{
        a{
            padding: 15px 40px;
            background-color: #c7a17a;
            color: #fff;
            font-weight: bold;
            border-radius: 5px;
            transition: .4s;
            text-decoration: none;
            &:hover{
                background-color: #000;
            }
        }
    }
}


body{
    position: relative;
    background-image: url(https://xpressrow.com/html/cafena/demo_assets/images/bg_01.png);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-color: #eceae3;
    //z-index: 1;
}


#Header2{
    margin-top: 7rem;
    .all{
        .text{
            h1{
                font-size: 110px;
                font-family: 'Bebas Neue', cursive;
            }
            h2{
                font-family: 'Bebas Neue', cursive;
                font-size: 50px;
            }
        }
        
        .buttons{
            margin-top: 8rem;
            .a1{
                border:1px solid #262626;
                color:#262626 ;
                &:hover{
                    color: #fff;
                    background-color: #000;
                }
            }
            .a2{
                background-color:#c7a17a ;
                color:#fff ;
                &:hover{
                    background-color: #000;
                }
            }
            a{
                padding: 15px 35px;
                font-weight: bold;
                border-radius: 5px;
                transition: .4s;
                text-decoration: none;
            }
        }
    }
}



#Demos1{
    margin-top: 30rem;
    .head-text{
        h2{
            background-color: #c7a17a;
            font-family: 'Jost', sans-serif;
            letter-spacing: 2px;
            border-radius: 3px;
            font-weight: 500;
            font-size: 14px;
            color: #fff;
        }
        h3{
            font-family: 'Bebas Neue', cursive;
            color: #1B1B1B;
            font-size: 42px;
        }
    }

    .sites{
        margin-top: 5rem;
        .box{
            transition: 0.6s;
            overflow: hidden;
            &:hover{
                transform: scale(1.05);
            }
        }
    }
}


